In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from lazypredict.Supervised import LazyRegressor

In [2]:
dataf = pd.read_csv('../data/processed/clean-price-original.csv')
dataf.head()

,latitude,longitude,calculated_host_listings_count,neighbourhood,neighbourhood_group,room_type,price
0,0.36,0.51,1.00,0.15,0.38,0.16,149
1,0.61,0.49,0.40,0.76,1.00,1.00,225
2,0.75,0.57,0.00,0.23,1.00,0.16,150
3,0.45,0.54,0.00,0.36,0.38,1.00,89
4,0.72,0.57,0.00,0.28,1.00,1.00,80

In [3]:
X = dataf.drop(['price'], axis=1)
y = dataf['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [4]:
reg = LazyRegressor()
models, predictions = reg.fit(X_train, X_test, y_train, y_test)

  0%|          | 0/42 [00:00<?, ?it/s]

 19%|█▉        | 8/42 [00:02<00:07,  4.29it/s]

: